* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

:root {
    /* --primary-light-color: #636363; */
    --backround-color: #333333;
    --secondary-color: #d63384;
    --grey-color: #636363;
    --header-font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.landing-page-top-container {
    background-color: var(--grey-color);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.phone-info {
    text-decoration: none;
    color: white;
}
.phone-info:hover {
    cursor: pointer;
    color: #d8d8d8;
}
.phone-info .fa {
    font-weight: 800;
    font-size: 25px;
    margin-right: 10px;
}
.landing-number span {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.landing-currency-language-container {
    display: flex;
    position: relative;
}
.landing-currency {
    display: flex;
    justify-content: center;
}
.landing-currency ul {
    position: absolute;
    background-color: var(--grey-color);
    padding: 20px;
    border-radius: 10px;
    margin-top:43px;
    line-height: 30px;
    width: 170px;
    list-style: none;
    z-index: 100;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}
.landing-currency ul li a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    transition: 0.3s;
}
.landing-currency ul li a:hover {
    cursor: pointer;
    color: var(--secondary-color);
}

.use-choice {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    cursor: pointer;
    font-size: 20px;
}
.use-choice span {
    font-weight: 900;
    font-size: 25px;
    font-family: var(--header-font-family);
}
#currency {
    margin-right: 20px;
}
.ed ul {
    width: 150px;
}





@media(max-width: 1000px) {
    .landing-page-top-container {
        justify-content: center;
    }
    #currency {
        margin-left: 50px;
    }
}
@media(max-width: 740px) {
    .use-choice span {
        font-size: 20px;
    }
    .landing-number span {
        font-size: 15px;
    }
    .landing-page-top-container {
        padding: 15px;
    }
}
@media(max-width: 660px) {
    .landing-number span {
        display: none;
    }
    .landing-page-top-container {
        justify-content: space-between;
    }
}
@media(max-width: 490px) {
    .landing-page-top-container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .landing-number {
        margin-bottom: 10px;
    }
    #currency {
        margin-left: 0;
    }
    .use-choice {
        font-size: 14px;
        white-space: nowrap;
    }
}
@media(max-width: 350px) {
    .ed ul {
        width: 100px;
    }
}




.logo-search-link-container {
    background-color: var(--backround-color);
    padding-bottom: 20px;
}
.logo-search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 830px;
}

.search-nav-container {
    display: flex;
}
.search {
    display: flex;
}

.navicon {
    margin-right: 10px;
}
.navicon i {
    font-size: 25px;
    color: white;
    background-color: var(--secondary-color);
    padding: 8px 15px;
    border-radius: 7px;
    cursor: pointer;
    display: none;
}
.input input {
    outline: none;
    padding: 11px 20px;
    font-size: 20px;
    background-color: #1F1F1F;
    color: white;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 330px;
}
.search-icon i {
    font-size: 25px;
    color: white;
    background-color: var(--secondary-color);
    padding: 10px 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.3s;
}
.search-icon i:hover {
    cursor: pointer;
    background-color: #da1d56;
}

.market {
    margin-left: 10px;
}
.market i {
    color: white;
    background-color: var(--secondary-color);
    font-size: 27px;
    border-radius: 10px;
    padding: 7px 17px;
    position: relative;
    border: 2px solid var(--secondary-color);
    transition: 0.3s;
}
.market i:hover {
    cursor: pointer;
    border: 2px solid white;
}

.market i::after {
    content: '2';
    position: absolute;
    top: -7px;
    right: -7px;
    background-color: white;
    color: var(--secondary-color);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.market:hover.market i::after {
    border: 2px solid var(--secondary-color);
}


.shopping-container {
    position: absolute;
    right: 30px;
    background-color: #444444;
    width: 310px;
    padding: 10px 20px 20px 20px;
    border-radius: 5px;
    margin-top: 10px;
}
.content-item {
    display: flex;
    justify-content: space-between;
}
.content-item.ed {
    margin-top: 30px;
}
.item-text-container {
    display: flex;
    align-items: center;
}
.item img {
    width: 90px;
}
.item a {
    background-color: var(--grey-color);
}
.item-text {
    color: white;
    font-family: var(--header-font-family);
    font-weight: 500;
    line-height: 40px;
    margin-left: 20px;
}
.shirt a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
.shirt a:hover {
    color: var(--secondary-color);
    cursor: pointer;
}
.item-close i {
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.product-price-container {
    display: flex;
    justify-content: space-between;
}
.main-product-price-container {
    margin-top: 30px;
    line-height: 35px;
}
.product {
    text-transform: capitalize;
    font-family: var(--header-font-family);
    font-weight: 550;
    color: white;
    font-size: 16px;
}
.price {
    color: white;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.price.ed {
    color: var(--secondary-color);
}


.item-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.main-item-btn a {
    text-decoration: none;
    background-color: var(--secondary-color);
    color: white;
    font-family: var(--header-font-family);
    text-transform: capitalize;
    font-weight: 500;
    font-size: 17px;
    padding: 10px 20px;
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    transition: 0.3s;
}
.main-item-btn a:hover {
    border: 2px solid white;
    background-color: #b91d4c;
}


#nav-link {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#nav-link li {
    display: block;
    list-style: none;
    position: relative;
    margin-right: 25px;
}

#nav-link li:hover > .fix-margin {
    display: inline-block;
}

#nav-link li a {
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    position: relative;
    transition: 0.5s;
    font-size: 15px;
    font-weight: 550;
    font-family: var(--header-font-family);
}
#nav-link li a:hover {
    cursor: pointer;
    color: var(--secondary-color);
}
#nav-link li a::before {
    content: '';
    position: absolute;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    opacity: 0;
    transition: 0.6s;
    background-color: var(--secondary-color);
}
#nav-link li a:hover::before {
    width: 100%;
    opacity: 1;
}

#sub-menu ul {
    position: absolute;
    background-color: var(--grey-color);
    width: 190px;
    padding: 10px 0 10px 15px;
    line-height: 40px;
    border-radius: 10px;
    margin-top: 10px;
}
.fix-margin {
    position: absolute;
    top: 0;
    right: 0px;
    z-index: 100;
    display: none;
}



/* menu for responsive */
.menu-container {
    width: 250px;
    background-color: var(--grey-color);
    position: absolute;
    top: 0;
    height: 100vh;
    z-index: 10000;
    transition: 0.5s;
}
.main-menu-container {
    transition: 0.5s;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    color: white;
    padding: 10px 10px;
}
.menu-text {
    text-transform: capitalize;
    font-family: var(--header-font-family);
    font-weight: 550;
    font-size: 20px;
}
.menu-icon i {
    font-size: 25px;
}

.menu-link {
    padding: 0 15px;
}
.menu-link ul {
    line-height: 40px;
}
.menu-link ul li {
    color: white;
    transition: 0.4s;
    white-space: nowrap;
}
/* .menu-link ul li:hover {
    cursor: pointer;
    color: var(--secondary-color);
} */
.menu-link ul li i {
    font-size: 25px;
    font-weight: 500;
    /* margin-left: 40px; */
}
.menu-link ul li a {
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    font-family: var(--header-font-family);
    transition: 0.4s;
}
.menu-link ul li a:hover {
    color: var(--secondary-color);
}

.menu-link ul li span:hover {
    cursor: pointer;
    color: var(--secondary-color);
}
.menu-link ul li span:hover a {
    cursor: pointer;
    color: var(--secondary-color);
}
.link-hover a:hover {
    color: var(--secondary-color);
}

.menu-link span {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.4s;
}
.menu-link-sub.ed ul {
    list-style: none;
}
.menu-link-sub.ed {
    margin-left: 10px;
}

/* individual for javascript purpose */
#menu-matches-content {
    margin-left: 10px;
}
#menu-recent-content {
    margin-left: 10px;
}
#menu-players-content {
    margin-left: 10px;
}
#menu-top-players-content {
    margin-left: 10px;
}

#layer {
    background-color: rgba(0, 0, 0, 0.459);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    filter: blur(15px);
}



@media(max-width: 960px) {
    .navicon i {
        display: inline-block;
    }
    #nav-link {
        display: none;
    }
    .logo-search-link-container {
        padding-bottom: 0;
    }
}
@media(max-width: 890px) {
    .input input {
        width: 250px;
    }
}

@media(max-width: 710px) {
    .input input {
        width: 160px;
    }
}
@media(max-width: 600px) {
    .logo-search-container {
        flex-direction: column;
    }
    .input input {
        width: 400px;
    }
    .logo {
        margin-bottom: 20px;
        width: 550px;
    }
}
@media(max-width: 580px) {
    .input input {
        width: 300px;
    }
    .logo {
        width: 430px;
    }
}
@media(max-width: 480px) {
    .input input {
        width: 200px;
    }
    .logo {
        width: 330px;
    }
}
@media(max-width: 380px) {
    .input input {
        width: 100%;
    }
    .logo {
        width: 100%;
    }
    .logo-search-container {
        padding: 20px 15px;
    }
    .shopping-container {
        right: 10px;
    }
}



.landing-page-content {
    background-image: url(/images/landing_image1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    aspect-ratio: 16/9;

    animation: change_background_image 20s ease-in-out infinite;
}

@keyframes change_background_image {
    from {
        background-image: url(/images/landing_image1.png);
    }
    to {
        background-image: url(/images/landing_image2.png);
    }
}


/* javascript classes */
.hidden {
    display: none;
}
.sliding-left-content {
    left: -120%;
}
.sliding-right-content {
    left: 0;
}