* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}
abbr {
    text-decoration: none;
}

:root {
    --primary-light-color: #636363;
    --backround-color: #333333;
    --secondary-color: #d63384;
    --primary-color: #da1d56;
    --grey-color: #636363;
    --header-font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.loader {
    /* background-color: #333; */
    width: 100vw;
    height: 100vh;
    background-image: url('/gif/goal-scole.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1000;
    padding-top: 10px;
    overflow: hidden;
    position: fixed;
    transition: 0.75s;

    animation: move-lodaer-text 10s linear infinite;
}
.loader-text {
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    letter-spacing: 3px;
    color: var(--backround-color);
    line-height: 40px;
    white-space: nowrap;
}
.loader-text i {
    color: var(--primary-color);
}
.loader-logo {
    color: var(--secondary-color);
    display: block;
}
.loader::after {
    content: '';
    position: absolute;
    top: 20px;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    letter-spacing: 3px;
    color: white;
}

@keyframes move-lodaer-text {
    from {
        padding-left: 0;
    }
    to {
        padding-left: 100%;
    }
}
@keyframes move-lodaer-text-respon {
    0% {
        padding-left: 0%;
    }
    /* 50% {
        padding-left: 100%;
    } */
    100% {
        padding-left: 0%;
    }
}

.hidden--delay {
    opacity: 0;
    visibility: hidden;
}

@media(max-width: 570px) {
    .loader-text {
        font-size: 20px;
        font-weight: 900;
        /* white-space: wrap; */

        animation: move-lodaer-text-respon 4s linear infinite;
    }
    .break {
        display: block;
    }
}
@media(max-width: 890px) {
    .loader {
        background-size: 100% 100%;
    }
}


.landing-page-top-container {
    background-color: var(--grey-color);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.phone-info {
    text-decoration: none;
    color: white;
}
.phone-info:hover {
    cursor: pointer;
    color: #d8d8d8;
}
.phone-info .fa {
    font-weight: 800;
    font-size: 25px;
    margin-right: 10px;
}
.landing-number span {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.landing-currency-language-container {
    display: flex;
    position: relative;
}
.landing-currency {
    display: flex;
    justify-content: center;
}
.landing-currency ul {
    position: absolute;
    background-color: var(--grey-color);
    padding: 20px;
    border-radius: 10px;
    margin-top:43px;
    line-height: 30px;
    width: 170px;
    list-style: none;
    z-index: 100;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}
.landing-currency ul li a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    transition: 0.3s;
}
.landing-currency ul li a:hover {
    cursor: pointer;
    color: var(--secondary-color);
}

.use-choice {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    cursor: pointer;
    font-size: 20px;
}
.use-choice span {
    font-weight: 900;
    font-size: 25px;
    font-family: var(--header-font-family);
}
#currency {
    margin-right: 20px;
}
.ed ul {
    width: 150px;
}





@media(max-width: 1000px) {
    .landing-page-top-container {
        justify-content: center;
    }
    #currency {
        margin-left: 50px;
    }
}
@media(max-width: 740px) {
    .use-choice span {
        font-size: 20px;
    }
    .landing-number span {
        font-size: 15px;
    }
    .landing-page-top-container {
        padding: 15px;
    }
}
@media(max-width: 660px) {
    .landing-number span {
        display: none;
    }
    .landing-page-top-container {
        justify-content: space-between;
    }
}
@media(max-width: 490px) {
    .landing-page-top-container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .landing-number {
        margin-bottom: 10px;
    }
    #currency {
        margin-left: 0;
    }
    .use-choice {
        font-size: 14px;
        white-space: nowrap;
    }
}
@media(max-width: 350px) {
    .ed ul {
        width: 100px;
    }
}




.logo-search-link-container {
    background-color: var(--backround-color);
    padding-bottom: 20px;
}
.logo-search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 830px;
}

.search-nav-container {
    display: flex;
}
.search {
    display: flex;
    align-items: center;
}

.navicon {
    margin-right: 10px;
}
.navicon i {
    font-size: 25px;
    color: white;
    background-color: var(--secondary-color);
    padding: 8px 15px;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.3s;
    display: none;
}
.navicon i:hover {
    background-color: #b91d4c;
}
.input input {
    outline: none;
    padding: 11px 20px;
    font-size: 20px;
    background-color: #1F1F1F;
    color: white;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 330px;
}
.search-icon i {
    font-size: 25px;
    color: white;
    background-color: var(--secondary-color);
    padding: 10px 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.3s;
}
.search-icon i:hover {
    cursor: pointer;
    background-color: #da1d56;
}

.market {
    margin-left: 10px;
}
.market i {
    color: white;
    background-color: var(--secondary-color);
    font-size: 27px;
    border-radius: 10px;
    padding: 7px 17px;
    position: relative;
    border: 2px solid var(--secondary-color);
    transition: 0.3s;
}
.market i:hover {
    cursor: pointer;
    border: 2px solid white;
}

.market i::after {
    content: '2';
    position: absolute;
    top: -7px;
    right: -7px;
    background-color: white;
    color: var(--secondary-color);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.market:hover.market i::after {
    border: 2px solid var(--secondary-color);
}


.shopping-container {
    position: absolute;
    right: 30px;
    background-color: #3a3a3a;
    width: 310px;
    padding: 10px 20px 20px 20px;
    border-radius: 5px;
    margin-top: 10px;
    z-index: 10000;
}
.content-item {
    display: flex;
    justify-content: space-between;
}
.content-item.ed {
    margin-top: 30px;
}
.item-text-container {
    display: flex;
    align-items: center;
}
.item img {
    width: 90px;
}
.item a {
    background-color: var(--grey-color);
}
.item-text {
    color: white;
    font-family: var(--header-font-family);
    font-weight: 500;
    line-height: 40px;
    margin-left: 20px;
}
.shirt a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
.shirt a:hover {
    color: var(--secondary-color);
    cursor: pointer;
}
.item-close i {
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.product-price-container {
    display: flex;
    justify-content: space-between;
}
.main-product-price-container {
    margin-top: 30px;
    line-height: 35px;
}
.product {
    text-transform: capitalize;
    font-family: var(--header-font-family);
    font-weight: 550;
    color: white;
    font-size: 16px;
}
.price {
    color: white;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.price.ed {
    color: var(--secondary-color);
}


.item-btns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.main-item-btn {
    margin-top: 20px;
}
.main-item-btn a {
    text-decoration: none;
    background-color: var(--secondary-color);
    color: white;
    font-family: var(--header-font-family);
    text-transform: capitalize;
    font-weight: 500;
    font-size: 17px;
    padding: 10px 20px;
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    transition: 0.3s;
    white-space: nowrap;
}
.main-item-btn a:hover {
    border: 2px solid white;
    background-color: #b91d4c;
}


#nav-link {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#nav-link li {
    display: block;
    list-style: none;
    position: relative;
    margin-right: 25px;
}

#nav-link li:hover > .fix-margin {
    display: inline-block;
}

#nav-link li a {
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    position: relative;
    transition: 0.5s;
    font-size: 15px;
    font-weight: 550;
    font-family: var(--header-font-family);
}
#nav-link li a:hover {
    cursor: pointer;
    color: var(--secondary-color);
}
#nav-link li a::before {
    content: '';
    position: absolute;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    opacity: 0;
    transition: 0.6s;
    background-color: var(--secondary-color);
}
#nav-link li a:hover::before {
    width: 100%;
    opacity: 1;
}

#sub-menu ul {
    position: absolute;
    background-color: var(--grey-color);
    width: 190px;
    padding: 10px 0 10px 15px;
    line-height: 40px;
    border-radius: 10px;
    margin-top: 10px;
}
.fix-margin {
    position: absolute;
    top: 0;
    right: 0px;
    z-index: 100;
    display: none;
}



/* menu for responsive */
.menu-container {
    width: 250px;
    background-color: var(--grey-color);
    position: absolute;
    top: 0;
    height: 100vh;
    z-index: 10000;
    transition: 0.5s;
}
.main-menu-container {
    transition: 0.5s;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    color: white;
    padding: 10px 10px;
}
.menu-text {
    text-transform: capitalize;
    font-family: var(--header-font-family);
    font-weight: 550;
    font-size: 20px;
}
.menu-icon i {
    font-size: 25px;
    cursor: pointer;
}

.menu-link {
    padding: 0 15px;
}
.menu-link ul {
    line-height: 40px;
}
.menu-link ul li {
    color: white;
    transition: 0.4s;
    white-space: nowrap;
}
/* .menu-link ul li:hover {
    cursor: pointer;
    color: var(--secondary-color);
} */
.menu-link ul li i {
    font-size: 25px;
    font-weight: 500;
    /* margin-left: 40px; */
}
.menu-link ul li a {
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    font-family: var(--header-font-family);
    transition: 0.4s;
}
.menu-link ul li a:hover {
    color: var(--secondary-color);
}

.menu-link ul li span:hover {
    cursor: pointer;
    color: var(--secondary-color);
}
.menu-link ul li span:hover a {
    cursor: pointer;
    color: var(--secondary-color);
}
.link-hover a:hover {
    color: var(--secondary-color);
}

.menu-link span {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.4s;
}
.menu-link-sub.ed ul {
    list-style: none;
}
.menu-link-sub.ed {
    margin-left: 10px;
}

/* individual for javascript purpose */
#menu-matches-content {
    margin-left: 10px;
}
#menu-recent-content {
    margin-left: 10px;
}
#menu-players-content {
    margin-left: 10px;
}
#menu-top-players-content {
    margin-left: 10px;
}

#layer {
    background-color: rgba(0, 0, 0, 0.459);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    filter: blur(15px);
}



@media(max-width: 960px) {
    .navicon i {
        display: inline-block;
    }
    #nav-link {
        display: none;
    }
    .logo-search-link-container {
        padding-bottom: 0;
    }
}
@media(max-width: 890px) {
    .input input {
        width: 250px;
    }
}

@media(max-width: 710px) {
    .input input {
        width: 160px;
    }
}
@media(max-width: 600px) {
    .logo-search-container {
        flex-direction: column;
    }
    .input input {
        width: 400px;
    }
    .logo {
        margin-bottom: 20px;
        width: 550px;
    }
}
@media(max-width: 580px) {
    .input input {
        width: 300px;
    }
    .logo {
        width: 430px;
    }
}
@media(max-width: 480px) {
    .input input {
        width: 200px;
    }
    .logo {
        width: 330px;
    }
}
@media(max-width: 380px) {
    .input input {
        width: 100%;
    }
    .logo {
        width: 100%;
    }
    .logo-search-container {
        padding: 20px 15px;
    }
    .shopping-container {
        right: 10px;
    }
}

@media(max-width: 400px) {
    .shopping-container {
        width: 100%;
        right: 0;
    }
}



.landing-page-content {
    background-image: url(/images/landing_image1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    aspect-ratio: 16/9;

    animation: change_background_image 20s ease-in-out infinite;
}

@keyframes change_background_image {
    from {
        background-image: url(/images/landing_image1.png);
    }
    to {
        background-image: url(/images/landing_image2.png);
    }
}


.upcoming-match-container {
    background-color: var(--backround-color);
    padding-top: 100px;
}
.foot-header-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.foot-header {
    text-transform: capitalize;
    font-family: var(--header-font-family);
    font-weight: 600;
    font-size: 30px;
    color: white;
    z-index: 100;
    padding: 0 20px;
    background-color: var(--backround-color);
}
.horizontal-line {
    background-color: var(--secondary-color);
    height: 3px;
    width: 700px;
    position: absolute;
}


.upcoming-match-content {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.two-upcoming-match {
    display: flex;
}
.teams-container {
    width: 250px;
    background-color: #444444;
    padding: 12px 10px 30px 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: 0.5s;
}

.teams-container.ed2 {
    margin: 0 30px;
}
.teams-container.ed4 {
    margin-left: 30px;
}

.teams-container:hover {
    border: 1px solid var(--secondary-color);
}
.team-text {
    color: white;
    text-transform: capitalize;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.team-text b {
    font-size: 15px;
    font-weight: 800;
}

.main-teams-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.team-image {
    background-color: #636363;
    width: fit-content;
    padding: 7px 5px;
    border-radius: 10px;
}
.team-image img {
    width: 80px;
}

.team-image-text {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    text-align: center;
}


@media (max-width: 1150px) {
    .teams-container {
        width: 200px;
    }
    .team-image img {
        width: 100%;
    }
}

@media (max-width: 940px) {
    .upcoming-match-content {
        flex-direction: column;
        align-items: center;
    }
    .teams-container {
        width: 280px;
    }
    .team-image img {
        width: 80px;
    }

    .teams-container.ed2 {
        margin: 0;
        margin-left: 30px;
    }
    .teams-container.ed4 {
        margin-left: 30px;
    }

    .two-upcoming-match.margin-top {
        margin-top: 10px;
    }
}

@media (max-width: 770px) {
    .horizontal-line {
        width: 600px;
    }
}
@media (max-width: 640px) {
    .teams-container {
        width: 200px;
    }
    .team-image img {
        width: 60px;
    }

    .horizontal-line {
        width: 350px;
    }
    .foot-header {
        font-size: 25px;
    }
}

@media (max-width: 470px) {
    .two-upcoming-match {
        flex-direction: column;
    }
    .teams-container.ed2 {
        margin: 0;
        margin: 20px 0;
    }
    .teams-container.ed4 {
        margin: 0;
        margin-top: 20px;
    }
    .two-upcoming-match.margin-top {
        margin-top: 0;
    }

    .teams-container {
        width: 100%;
    }
    .two-upcoming-match {
        width: 90%;
    }
    .team-image img {
        width: 100px;
    }
}
@media (max-width: 430px) {
    .foot-header {
        padding: 0 5px;
    }
    /* .horizontal-line {
        width: 300px;
    } */
}




.league-table-container {
    background-color: var(--backround-color);
    padding-top: 130px;
}

.league-series-table-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 0 10px;
}
.series-table {
    width: 400px;
    background-color: var(--primary-light-color);
}
.series-table.ed {
    width: 800px;
    margin-left: 20px;
} 

.series-text{
    background-color: var(--secondary-color);
    color: white;
    padding: 12px 10px;
    text-transform: capitalize;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.series-table-content {
    background-color: rgb(85, 85, 85);
    padding: 0 5px;
}
.series-header {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    color: var(--primary-color);
    font-weight: 800;
    text-transform: uppercase;
    font-family: var(--header-font-family);
    font-size: 15px;
    background-color: var(--backround-color);
    padding: 10px 0 10px 10px;
}
.series-header.ed {
    grid-template-columns: 2fr 2fr 1fr 1fr;
}

.series-content {
    color: white;
    text-transform: capitalize;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    padding: 10px 0 10px 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.series-content.grid {
    grid-template-columns: 2fr 2fr 1fr 1fr;
}
.series-content span {
    text-transform: lowercase;
}

.series-content.ed {
    background-color: var(--backround-color);
}
.series-table-end {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 15px 0 15px 10px;
} 

@media(max-width: 970px) {
    .series-content.grid {
        grid-template-columns: 1.5fr 1.5fr 1fr 1fr;
    }
    .series-header.ed {
        grid-template-columns: 1.5fr 1.5fr 1fr 1fr;
    }
}
@media(max-width: 820px) {
    .series-content.grid {
        grid-template-columns: 1.2fr 1.2fr 1fr 1fr;
    }
    .series-header.ed {
        grid-template-columns: 1.2fr 1.2fr 1fr 1fr;
    }
    .series-header {
        grid-template-columns: 3fr 1fr 1fr 1fr;
    }
    .series-content {
        grid-template-columns: 3fr 1fr 1fr 1fr;
    }
}
@media(max-width: 770px) {
    .league-series-table-container {
        flex-direction: column;
    }
    .series-table.ed {
        margin-left: 0;
        margin-top: 40px;
        width: 100%;
    } 
    .series-table {
        width: 100%;
    }
}
@media(max-width: 540px) {
    .series-header.ed {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .series-content.grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .series-content .ch-year {
        display: block;
    }
}
@media(max-width: 480px) {
    .series-content .ch-year {
        display: block;
    }
}




.out-team-store-container {
    background-color: var(--backround-color);
    padding-top: 130px;
}
.our-team-store-btns-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 0;
    margin-top: 30px;
}
.our-team-link-btns {
    display: flex;
}
.our-team-link-btns button {
    border: none;
    color: white;
}
.latest-btn {
    background-color: #b91d4c;
    padding: 5px 20px 5px 5px;
    text-transform: capitalize;
    font-family: var(--header-font-family);
    font-size: 20px;
    font-weight: 550;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    cursor: pointer;
    z-index: 10;
}
.latest-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    z-index: -1;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.3s;
}
.latest-btn:hover::before {
    transform: translateX(-100%);
}

.bestseller-btn {
    padding: 5px 20px 5px 5px;
    text-transform: capitalize;
    font-family: var(--header-font-family);
    font-weight: 550;
    font-size: 20px;
    background-color: transparent;
    margin-left: 20px;
    position: relative;
    z-index: 10;
    overflow: hidden;
    cursor: pointer;
}
.bestseller-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    z-index: -1;
    transition: 0.3s;
}
.bestseller-btn:hover::before {
    cursor: pointer;
    transform: translateX(0);
}

.our-team-angle-btns {
    display: flex;
}
.our-team-angle-btns button {
    border: none;
    color: white;
}
.main-angle-btn {
    background-color: var(--secondary-color);
    font-size: 28px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
    position: relative;
    z-index: 10;
}
.main-angle-btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%) scale(0);
    width: 100%;
    height: 100%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #b91d4c;
    transition: 0.3s;
    /* opacity: 0; */
    z-index: -1;
}
.main-angle-btn:hover::after {
    transform: translateX(0) scale(1);
    /* opacity: 1; */
} 
.main-angle-btn.right::after {
    transform: translateX(100%) scale(0);
}
.main-angle-btn.right:hover::after {
    transform: translateX(0) scale(1);
}


.our-team-store-content {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.main-content-container {
    width: 300px;
    transition: 0.3s;
    border-radius: 10px;
    border: 1px solid transparent;
}
.main-content-container:hover {
    border: 1px solid var(--secondary-color);
}
.main-content-container.ed {
    margin: 0 20px;
}
.main-content-container {
    background-color: var(--grey-color);
    padding: 0 10px 10px 10px;
}

/* .team-content {
    width: 270px;
} */
.team-content img {
    width: 280px;
    padding: 10px;
    background-color: rgb(136, 135, 135);
    cursor: pointer;
}

.team-game a {  
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
.team-game a:hover {
    cursor: pointer;
    color: var(--secondary-color);
}

.team-content-info-header {
    margin-top: 20px;
}
.team-content-info-header {
    display: flex;
    justify-content: space-between;
}
.team-content-info-header-text {
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 14px;
}
.team-content-comments {
    display: flex;
}
.team-content-comments i {
    background-color: var(--backround-color);
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    position: relative;
    z-index: 10;
    cursor: pointer;
}
.team-content-comments i::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    border-radius: 50%;
    z-index: -1;
    transform: scale(0);
    transition: 0.3s;
}
.team-content-comments i:hover::after {
    transform: scale(1);
}

.name-price-content {
    text-transform: capitalize;
    font-weight: 700;
    font-family: var(--header-font-family);
    color: white;
    line-height: 30px;
}


@media(max-width: 970px) {
    .main-content-container {
        width: 250px;
    }
    .team-content img {
        width: 230px;
    }
    .our-team-store-content {
        padding: 10px;
    }
}
@media(max-width: 820px) {
    .our-team-store-content {
        flex-wrap: wrap;
    }
}
@media(max-width: 809px) {
    .main-content-container.ed3 {
        margin-top: 30px;
    } 
    
}
@media(max-width: 570px) {
    .main-content-container.ed {
        margin-right: 0;
    }
}
@media(max-width: 545px) {
    .main-content-container.ed {
        margin-left: 0;
    }
}
@media(max-width: 534px) {
    .main-content-container.ed {
        margin-top: 30px;
    }
    .main-content-container {
        width: 303px;
    }
    .team-content img {
        width: 280px;
    }
}
@media(max-width: 390px) {
    .main-content-container {
        width: 250px;
    }
    .team-content img {
        width: 230px;
    }
}
@media(max-width: 360px) {
    .main-content-container {
        width: 90%;
        /* aspect-ratio: 16/9; */
    }
    .team-content img {
        width: 100%;
    }
}





.best-in-class-container {
    background-color: var(--backround-color);
    padding-top: 120px;
}
.best-in-class-sub-header {
    color: var(--secondary-color);
    font-size: 27px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 15px;
    padding: 10px;
}

.best-in-class-content {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding: 0 10px;
}
.two-best-in-class {
    display: flex;
}

.trophy-container.ed2 {
    margin: 0 50px;
}
.trophy-container.ed4 {
    margin-left: 50px;
} 

.trophy-image {
    background-color: var(--primary-light-color);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.trophy-image:hover img {
    animation: rotate_trophy 0.6s ease-in forwards;
}

.trophy-image img {
    width: 130px;
}
.trophy-value {
    color: var(--secondary-color);
    font-size: 50px;
    text-align: center;
    margin-top: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.trophy-user {
    color: white;
    font-size: 23px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.good-goals-container {
    background-image: url('/images/ban-2.png');
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.good-goals-image img {
    width: 500px;
    margin-left: -100px;
    padding-top: 100px;
}

.good-goals-header {
    color: white;
    text-transform: capitalize;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}
.good-goals-text {
    color: white;
    font-size: 20px;
    font-family: cursive;
    text-align: center;
    line-height: 35px;
    margin: 15px 0 30px 0;
}

.primary-btn {
    text-align: center;
}
.primary-btn a {
    text-decoration: none;
    color: white;
    background-color: var(--secondary-color);
    padding: 10px 20px;
    font-family: var(--header-font-family);
    text-transform: capitalize;
    font-size: 20px;
    border-radius: 10px;
    transition: 0.3s;
    border: 2px solid var(--secondary-color);
    white-space: nowrap;
}
.primary-btn a:hover {
    cursor: pointer;
    background-color: #af296c;
    border: 2px solid white;
}



@keyframes rotate_trophy {
    from {
        transform: rotateY(180deg);
    }
    to {
        transform: rotateY(-180deg);
    }
}



@media(max-width: 1030px) {
    .trophy-image {
        width: 150px;
        height: 150px;
    }
    .trophy-image img {
        width: 100px;
    }
    .trophy-value {
        font-size: 40px;
    }
    .trophy-user {
        font-size: 20px;
    }
    .good-goals-header {
        font-size: 25px;
    }
}


@media(max-width: 990px) {
    .good-goals-image img {
        width: 500px;
        margin-left: -150px;
    }
}
@media(max-width: 910px) {
    .good-goals-container {
        background-size: 950px;   
    }
    .good-goals-info {
        width: 100%;
    }
}
@media(max-width: 790px) {
    .good-goals-image img {
        width: 400px;
        margin-left: -100px;
    }
    .good-goals-text {
        font-size: 17px;
        line-height: 30px;
    }
    .primary-btn a {
        font-size: 17px;
    }
    .good-goals-container {
        background-size: 900px;   
    }
} 
@media(max-width: 775px) {
    .good-goals-container {
        background-size: 700px;   
    }
    .good-goals-image img {
        width: 300px;
        margin-left: -90px;
    }
}
@media(max-width: 560px) {
    .good-goals-container {
        background-image: none;
        margin-top: 0; 
    }
}
@media(max-width: 510px) {
    .good-goals-info {
        margin-left: -50px;
    }
}
@media(max-width: 390px) {
    .good-goals-info {
        margin-left: -100px;
        padding-top: 50px;
    }
}


@media(max-width: 840px) {
    .best-in-class-content {
        flex-direction: column;
        align-items: center;
    }
    .two-best-in-class.tbic2 {
        margin-top: 40px;
    } 
    .trophy-container.ed2 {
        margin-right: 0;
    }
    .trophy-image {
        width: 200px;
        height: 200px;
    }
    .trophy-image img {
        width: 130px;
    }
    .trophy-value {
        font-size: 50px;
    }
    .trophy-user {
        font-size: 23px;
    }
}
@media(max-width: 540px) {
    .trophy-image {
        width: 150px;
        height: 150px;
    }
    .trophy-image img {
        width: 100px;
    }
    .trophy-value {
        font-size: 35px;
    }
    .trophy-user {
        font-size: 20px;
    }
    .foot-header.fh1 {
        text-align: center;
    }
}
@media(max-width: 400px) {
    .trophy-container.ed2 {
        margin-left: 30px;
    }
    .trophy-container.ed4 {
        margin-left: 30px;
    } 
}

/* if trophy container disturbe open this is */
/* @media(max-width: 360px) {
    .trophy-image {
        width: 100px;
        height: 100px;
    }
    .trophy-image img {
        width: 70px;
    }
    .trophy-value {
        font-size: 35px;
    }
    .trophy-user {
        font-size: 20px;
    }
    .foot-header.fh1 {
        text-align: center;
    }
} */






.latest-blog-container {
    background-color: var(--backround-color);
    padding-top: 130px;
}
.our-team-angle-btns.otab-margin {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}
.latest-blog-content-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.two-latest-blog {
    display: flex;
}
.latest-blog-card {
    background-color: var(--primary-light-color);
    padding: 0 10px 25px 10px;
    overflow: hidden;
    border-radius: 12px;
    width: 400px;
}
.latest-blog-card:hover .blog-card-icons {
    transform: translateY(0);
    opacity: 1;
    top: 20px;
}
.latest-blog-card.lbc-margin {
    margin: 0 30px;
}

.latest-blog-card-image {
    background-image: url('/images/blog1.png');
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.latest-blog-card-image.lbc-ed2 {
    background-image: url('/images/blog2.png');
}
.latest-blog-card-image.lbc-ed3 {
    background-image: url('/images/blog3.png');
}

.blog-card-top {
    position: relative;
}
.latest-blog-date {
    background-color: var(--secondary-color);
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 15px;
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    line-height: 20px;
    border-radius: 10px;
}

.blog-card-icons {
    position: absolute;
    right: 10px;
    transform: translateY(-100%);
    display: flex;
    transition: 0.5s;
    opacity: 0;
}
.card-icon a {
    color: white;
    text-decoration: none;
    background-color: var(--secondary-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    transition: 0.3s;
    margin-left: 10px;
}
.card-icon a:hover {
    cursor: pointer;
    background-color: var(--primary-light-color);
}

.blog-info-container {
    margin-top: 20px;
}
.blog-comment {
    text-align: end;
}
.blog-comment a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.blog-comment span {
    color: white;
    margin-left: 5px;
    transition: 0.3s;
}
.blog-comment a:hover span {
    color: var(--secondary-color);
}
.blog-info-link {
    text-align: center;
    margin: 15px 0;
}
.blog-info-link a {
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    transition: 0.5s;
}
.blog-info-link a:hover {
    color: var(--secondary-color);
}
.blgo-info-text {
    color: white;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 30px;
    text-align: center;
}
.horizontal-line2 {
    background-color: var(--secondary-color);
    height: 2px;
    width: 100px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 20px 0 35px 0;
}


@media(max-width: 1270px) {
    .latest-blog-card {
        width: 350px;
    }
    .latest-blog-card-image {
        height: 250px;
    }
}
@media(max-width: 1150px) {
    .latest-blog-content-container {
        flex-direction: column;
        align-items: center;
    }
    .latest-blog-card.lbc-margin {
        margin-right: 0;
    }
    .two-latest-blog.tlb-ed2 {
        margin-top: 50px;
    } 
    .latest-blog-card {
        width: 400px;
    }
    .latest-blog-card-image {
        height: 300px;
    }
}
@media(max-width: 875px) {
    .latest-blog-card {
        width: 350px;
    }
    .latest-blog-card-image {
        height: 250px;
    }
}
@media(max-width: 780px) {
    .latest-blog-card {
        width: 300px;
    }
    .latest-blog-card-image {
        height: 200px;
    }
}
@media(max-width: 680px) {
    .latest-blog-card {
        width: 400px;
    }
    .latest-blog-card-image {
        height: 300px;
    }
    .two-latest-blog {
        flex-direction: column;
    }
    .latest-blog-card.lbc-margin {
        margin-left: 0;
        margin-top: 50px;
    }
}
@media(max-width: 460px) {
     .latest-blog-card {
        width: 350px;
    }
    .latest-blog-card-image {
        height: 250px;
    }
}
@media(max-width: 400px) {
     .latest-blog-card {
        width: 340px;
    }
    .latest-blog-card-image {
        height: 230px;
    }
}
@media(max-width: 350px) {
     .latest-blog-card {
        width: 100%;
    }
    .latest-blog-card-image img {
        /* height: 100%; */
        aspect-ratio: 16/9;
    }
}




.players-squad-container {
    background-color: var(--backround-color);
    padding-top: 120px;
    padding-bottom: 60px;
}
.players-squad-contents {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.two-players-squad {
    display: flex;
}
.player-squad-image img {
    width: 300px;
    transition: 0.5s;
}

.player-squad.ps-ed2 {
    margin: 0 20px;
}
.player-squad.ps-ed4 {
    margin-left: 20px;
}

.player-squad-info {
    text-align: center;
    margin-top: 10px;
}
.player-name a {
    text-decoration: none;
    color: white;
    font-size: 23px;
    transition: 0.3s;
}
.player-name a:hover {
    cursor: pointer;
    color: var(--secondary-color);
}
.player-squad-post {
    color: var(--secondary-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 7px;
}


@media(max-width: 1270px) {
    .player-squad-image img {
        width: 250px;
    }
}
@media(max-width: 1110px) {
    .players-squad-contents {
        flex-direction: column;
        align-items: center;
    }
    .two-players-squad.tps-ed2 {
        margin-top: 50px;
    }
    .player-squad-image img {
        width: 300px;
    }
    .player-squad.ps-ed2 {
        margin-right: 0;
    }
}
@media(max-width: 676px) {
    .player-squad-image img {
        width: 250px;
    }
}
@media(max-width: 570px) {
    .player-squad-image img {
        width: 200px;
    }
}
@media(max-width: 450px) {
    .two-players-squad {
        flex-direction: column;
    }
    .player-squad-image {
        margin: 0;
    }
    .player-squad-image img {
        width: 330px;
    }
    .player-squad.ps-ed4 {
        margin-left: 0;
        margin-top: 50px;
    }
    .player-squad.ps-ed2 {
        margin-left: 0;
        margin-top: 50px;
    }
}
@media(max-width: 430px) {
    .player-squad-image img {
        width: 300px;
    }
}
@media(max-width: 340px) {
    .player-squad-image img {
        width: 250px;
    }
}
@media(max-width: 280px) {
    .player-squad-image img {
        width: 200px;
    }
}
@media(max-width: 230px) {
    .player-squad-image img {
        width: 100%;
    }
    .players-squad-container {
        padding: 0 10px;
    }
}




.players-customers-container {
    background-image: url('/images/img3.png');
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    position: relative;
}
.players-customers-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(29, 29, 29);
    z-index: -1;
}

.main-player-customer-info-container {
    width: 600px;
}
.player-customer-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.players-customer-logo img {
    width: 500px;
}
.player-customer-image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.main-angle-btn.ab-margin-left {
    margin-left: 0;
}
.player-customer-name-type {
    text-align: center;
    line-height: 30px;
    margin-top: 5px;
    color: white;
}
.player-customer-name {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.player-customer-type {
    text-transform: capitalize;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.player-customer-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 17px;
    line-height: 30px;
    margin-top: 20px;
    color: white;
}
.player-customer-mark {
    font-size: 50px;
    color: white;
    margin-top: 20px;
    text-align: center;
}

@media(max-width: 1150px) {
    .players-customer-logo img {
        width: 400px;
    }
    .main-player-customer-info-container {
        width: 500px;
        padding-top: 10px;
    }
    .player-customer-image img {
        width: 150px;
        height: 150px;
    }
}
@media(max-width: 960px) {
    .players-customer-logo img {
        width: 350px;
    }
}
@media(max-width: 890px) {
    .players-customers-container {
        flex-direction: column;
    }
    .players-customer-logo img {
        width: 500px;
    }
    .main-player-customer-info-container {
        width: 600px;
        margin-top: 20px;
    }
    .player-customer-image img {
        width: 200px;
        height: 200px;
    }
    .players-customers-container {
        height: auto;
        padding: 20px 0 0 0;
    }
}
@media(max-width: 670px) {
    .players-customer-logo img {
        width: 400px;
    }
    .main-player-customer-info-container {
        width: 500px;
        padding-top: 10px;
    }
    .player-customer-image img {
        width: 150px;
        height: 150px;
    }
}
@media(max-width: 545px) {
    .players-customer-logo img {
        width: 300px;
    }
    .main-player-customer-info-container {
        width: 450px;
        padding-top: 10px;
    }
    .player-customer-image img {
        width: 150px;
        height: 150px;
    }
}
@media(max-width: 465px) {
    .players-customer-logo img {
        width: 100%;
        padding: 0 10px;
    }
    .main-player-customer-info-container {
        width: 100%;
        padding: 0 10px;
    }
}





.footer-container {
    background-color: var(--backround-color);
    padding-top: 100px;
}

.nemsletter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 30px;
    border-radius: 10px;
    background-color: #272727da;
    padding: 20px 10px;
    width: 100%;
}
.newsletter-display {
    display: flex;
    justify-content: center;
}
.nemsletter-icon-text {
    display: flex;
    align-items: center;
}
.newsletter-icon i {
    color: white;
    font-size: 35px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
}
.nemsletter-text {
    margin-left: 30px;
}
.newsletter {
    text-transform: capitalize;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight: 800;
}
.newsletter-text-explan {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-top: 10px;
}

.newsletter-input-subscribe {
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.newsletter-input input {
    width: 530px;
    padding: 18px 20px 19px 20px;
    font-size: 18px;
    outline: none;
    color: white;
    caret-color: var(--secondary-color);
    background-color: #383838d8;
    border: 1px solid transparent;
}
.newsletter-subcribe a {
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    background-color: var(--secondary-color);
    padding: 50px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.primary-btn.pb-ed1 a {
    border-radius: 0;
    padding: 15px 20px;
}
.primary-btn button {
    text-transform: capitalize;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 17px 20px;
    background-color: var(--secondary-color);
    color: white;
    border: none;
}

.horizontale-line-dash {
    border: 1px dashed #8d8d8dd8;
} 
.horizontale-line-dash.hld-ed {
    margin-bottom: 40px;
}



.main-footer-content {
    background-color: var(--primary-light-color);
    padding: 40px 10px 30px 10px;
}
.footer-content {
    display: flex;
    justify-content: center;
}
.two-footer-content {
    display: flex;
}
.footer-link-header {
    text-transform: capitalize;
    color: white;
    font-size: 25px;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
}
.main-footer-link {
    display: flex;
    color: white;
    line-height: 25px;
    margin-bottom: 15px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main-footer-link i {
    margin-right: 10px;
}
.main-footer-link a {
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-footer-link a:hover {
    cursor: pointer;
    color: var(--secondary-color);
}

.icon a {
    text-decoration: none;
}
.icon a i {
    color: var(--secondary-color);
    font-size: 30px;
    background-color: white;
    transition: 0.3s;
    margin: 5px;
}
.resize-icon a i {
    font-size: 23px;
}
.icon a i:hover {
    background-color: var(--secondary-color);
    color: white;
}
.container-footer-link.cfl-ed1 {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
}
.container-footer-link.cfl-ed1 i {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-link-header.flh-ed1 {
    margin-top: 30px;
}
.footer-link.fl-ed2 {
    margin: 0 30px;
}
.footer-link.fl-ed4 {
    margin: 0 30px;
}
.horizontal3-line {
    width: 95%;
    background-color: rgb(224, 224, 224);
    height: 3px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 30px 0;
}
.copyright {
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.copyright a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
.copyright a:hover {
    cursor: pointer;
    color: var(--secondary-color);
}



@media(max-width: 1030px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }
    .container-footer-link.cfl-ed1 {
        width: 250px;
    }
    .two-footer-content.tfc-ed2 {
        margin-top: 30px;
    }
    .footer-link.fl-ed4 {
        margin-left: 0;
    }
}
@media(max-width: 800px) {
    .newsletter-input input {
        width: 100%;
    } 
    .nemsletter-container {
        width: 600px;
    }
}

@media(max-width: 675px) {
    .two-footer-content.tfc-ed1 {
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media(max-width: 660px) {
    .footer-link.fl-ed3 {
        margin-top: 30px;
    }
}
@media(max-width: 600px) {
    .footer-link.fl-ed2 {
        margin-right: 0;
    }
}
@media(max-width: 520px) {
    .two-footer-content.tfc-ed2 {
        flex-direction: column;
    }
    .footer-link.fl-ed4 {
        margin-right: 0;
        margin-bottom: 30px;
    }
}
@media(max-width: 488px) {
    .footer-link.fl-ed2 {
        margin-top: 30px;
    }
    .footer-link.fl-ed3 {
        margin-left: 30px;
    }
}
@media(max-width: 450px) {
    .footer-link.fl-ed2 {
        margin-left: 0;
    }
    .footer-link.fl-ed5 {
        width: 100%;
    }
    .container-footer-link.cfl-ed1 {
        width: 100%;
    }
    .footer-link.fl-ed4 {
        width: 150px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media(max-width: 460px) {
    .nemsletter-container {
        width: 100%;
        margin: 0 10px;
    }
}
@media(max-width: 350px) {
    .footer-link.fl-ed3 {
        margin-left: 0;
    }
}




/* javascript classes */
.hidden {
    display: none;
}
.sliding-left-content {
    left: -120%;
}
.sliding-right-content {
    left: 0;
}